RewriteEngine On

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

<FilesMatch "^(config\.php|\..*|.*\.md)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

RewriteRule ^media/(\d+)/rulesets(/.*)?$ api/rulesets.php/media/$1 [L,QSA]
RewriteRule ^rulesets(/.*)?$ api/rulesets.php$1 [L,QSA]
RewriteRule ^patterns(/.*)?$ api/patterns.php$1 [L,QSA]
RewriteRule ^changelog(/.*)?$ api/changelog.php$1 [L,QSA]
RewriteRule ^auth(/.*)?$ api/login.php$1 [L,QSA]
RewriteRule ^media(/.*)?$ api/media.php$1 [L,QSA]
